
body {
  background-color: #EFFFFF;
  /*font-family: 'Love Ya Like A Sister', cursive;*/
  font-family: 'Raleway', sans-serif;
  color: #777;
  font-size: 18px;
}

#profil {
  width: 250px;
  border-radius: 60%;
}

.country {
  width: 480px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px #aadeea;
}

.card {
  background: white;
  border: 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #a5dacf;
  content: 10px;
  padding: 15px;
  margin: 30px;
}

.text-center {
  text-align: center;
}

h1, h2, h3 {
  /*font-family: 'Baloo', cursive;*/
  font-family: 'Indie Flower', cursive;
  color: #8783D1;
  font-size: 22px;
  line-height: 10px;
}

h1 {
  margin: 35px;
}

h4 {
  font-weight: normal;
}

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #AAA;
}

.container {
  width: 85%;   /* Set width */
  margin: 0 auto; /* Automatically set left/right margins */
}

ul {
  list-style-type: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

#page-content {
  background-color: #EFEFFF;
  border-radius: 15px;
  padding: 1px;
  margin: 2px;
  display: inline-block;
  width: 100%;
}

/*#summary {
  width: 15%;
}*/

/*#favorite-countries {
  width: 75%;
}*/

#sidebar {
  position: fixed;
  width: 220px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #384047;
}

#liste-sidebar {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}

#sidebar a {
  color: white;
}

#sidebar a:hover {
  color: #AAA;
}

#sidebar li {
  margin-top : 50px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}

#page-content {
  margin-left: 200px;
}
